<h2>Admin</h2>

<div>
  <label>Titolo della pagina</label>
  <input type="text" [(ngModel)]="title">
  <p>Il nuovo titolo della pagine è {{ title }}</p>
  <button (click)="titleChange.emit(title)">Aggiorna il titolo</button>
</div>
<br><br>
<form action="" (submit)="onSubmit($event)">
  <dx-form [formData]="newNews">
    <dxi-item dataField="title" [isRequired]="true">
      <dxo-label text="Titolo"></dxo-label>
      <dxi-validation-rule type="stringLength" [max]="10" [min]="1" message="Massimo 10 caratteri">
      </dxi-validation-rule>
    </dxi-item>
    <dxi-item dataField="description"></dxi-item>
    <dxi-item dataField="important"></dxi-item>
    <dxi-item dataField="publishDate" [editorOptions]="publishDateOptions"></dxi-item>
    <dxi-item dataField="author"></dxi-item>
    <dxi-item itemType="button" [buttonOptions]="submitButtonOptions"></dxi-item>  
  </dx-form>
</form>